.App {
  margin: 0;
  padding: 0;
  width: 100vw;
  padding-top: 12rem;
  text-align: center;
}

.applight {

  background-color: #f0f2fa;
}

.appdark {
  background-color: rgba(27, 24, 31, 1);
}


@media screen and (max-width: 1000px) {
  .App {
    padding-top: 2rem;
    width: 100vw;
  }

  .App::-webkit-scrollbar {
    display: none;
    overflow-y: hidden;
  }

  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}